html, body {
    margin: 0;
    padding: 0;
    }
    body {
    font-family: Verdana, sans-serif; 
    padding: 20px;
    }
    h1 {
    font-size: 200%; 
    color:black; 
    text-align: center;
    }
    h2 {
    color: rgb(19, 149, 189);     
    text-align: center;
    }
    ul{
    list-style-type: none;
    color:black;        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    p,td {
    color: black;
    text-align: center; 
    text-decoration: none;  
    font-style:italic;  
    }
    a:link {
    text-decoration: none;
    color: black;
    }
    form{
    height: 500px;
    width: 500px;
    display:flex;
    flex-direction: column;
        
    }
    table{
        display:flex;
        flex-direction: column;     

    }